.description {
  padding: 3vh 20vw 3vh;

  p {
    @include fluid-type($width-min-point, $width-max-point, 14px, 30px);
    text-align: left;
    line-height: 1.7;

    &:not(:last-child) {
      padding-bottom: 3vh;
    }
  }

  code {
    font-weight: 900;
  }
}
