@import "~@/master.scss";

.section{
  padding: 6vh 0 8vh;
  background: color(black);
  color: color(white);
  text-align: center;
  position: relative;
  //z-index: -2;

  //& > * {
  //  z-index: 5;
  //}
}