@value bg as bar-bg from "~Bar/Bar.module.scss";

.bg {
  background: red;

  .mi{
    background: coral !important;
  }

  .bar-bg {
    background: coral !important;

    .baz-bg {
      background: pink !important;
    }
  }
}
