$tablet-width: 768px;
$desktop-width: 1024px;

$size-xs: 1024px;
$size-s: 1366px;
$size-l: 1920px;

@mixin size-xs {
  @media (min-width: #{$size-xs}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin size-xl {
  @media (min-width: #{$size-l}) {
    @content;
  }
}

// todo check if useful
@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}
