.titleContainer {
  display: inline-block;

  .title {
    @include h1FontSize;
    font-weight: 900;
    color: color(black);

    // pad container for hr
    padding: 0 30px;
  }

  .spacer {
    margin: 3vh auto;
    width: 100%;
    border: none;
    border-bottom: 5px solid color(black);
  }
}
