@import "~master";

.section {
  background: color(black);
  padding: 4vh 20vw;
  color: color(white);

  .description {
    @include fluid-type($width-min-point, $width-max-point, 14px, 40px);

    &:not(:last-child) {
      padding-bottom: 2vh;
    }
  }
}