.outerContainer {
  flex-direction: column;
  color: color(white);
  font-family: 'Noto Sans JP', sans-serif !important;
  font-weight: 700;
  cursor: pointer;
  // limit tile to screen height fraction
  max-width: 15vh;

  .tileContainer {
    padding-top: 100%;
    position: relative;

    .tile {
      align-self: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--backgroundColor);
      transition: background-color 100ms ease-in-out;

      &:hover{
        background-color: var(--backgroundHoverColor);
      }

      .icon {
        width: 50%;
        height: 50%;
        overflow: hidden;

        path {
          fill: var(--iconColor);
        }
      }
    }
  }

  .textContainer {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    line-break: strict;
    text-align: center;
    @include fluid-type($width-min-point, $width-max-point, 10px, 40px);
    line-height: 1.2;
    margin: 1.5vh 0 0;
    font-weight: 500;

    &.active {
      font-weight: 900;
    }
  }
}