.outerContainer {
  //display: flex;
  flex-direction: column;
  $width: 100% / 5;
  width: $width;
  margin: 0 1vw;
  color: color(white);
  font-family: 'Noto Sans JP', sans-serif !important;
  font-weight: 700;

  //.container {
  //  display: inline-block;
  //  height: 0;

  .tileContainer {
    padding-top: 100%;
    position: relative;
    //flex: 0 0 55%;

    .tile {
      position: absolute;
      top: 10%;
      left: 10%;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      background: color(redMuted);

      &.active{
        background: color(red);
      }

      .icon {
        display: inline-block;
        height: 60%;
        width: 100%;
        //padding: 5% 10%;
        //height: 60%;
      }

    }

    //}
  }

  .textContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    width: 100%;
    //flex: 0 1 45%;
    line-break: strict;
    //padding: 0 20% 1vh;
    //width: 100%;
    text-align: center;
    //margin: 1.5vh 0 0;
    @include fluid-type($width-min-point, $width-max-point, 10px, 40px);
    line-height: 1.2;
    color: color(redMuted);

    &.active{
      color: color(red);
      font-weight: 900;
    }
  }
}