.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  //flex-direction: row;
  margin: 5vh 0;
  justify-content: space-between;
  padding: 0 5vw;

  .item {
    $itemsPerRow: 5;
    $width: 11%;

    width: $width;
    margin: 1vh ((100% / $itemsPerRow) - $width) /2;
  }
}