.outerContainer {
  flex-direction: column;
  $width: 100% / 5;
  width: $width;
  margin: 0 1vw;
  color: color(white);
  font-family: 'Noto Sans JP', sans-serif !important;
  font-weight: 700;

  .tileContainer {
    padding-top: 100%;
    position: relative;

    .tile {
      position: absolute;
      top: 10%;
      left: 10%;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;

      .icon {
        display: inline-block;
        height: 60%;
        width: 100%;
      }

    }
  }

  .textContainer {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    line-break: strict;
    text-align: center;
    @include fluid-type($width-min-point, $width-max-point, 10px, 40px);
    line-height: 1.2;

    &.active{
      font-weight: 900;
    }
  }
}